<!DOCTYPE html>
<html lang="en">
  <head>
    {% if albums | length > 1 %}
      <title>Albums</title>
    {% else %}
      <title>{{albums[0].title}}</title>
    {% endif %}
  </head>

  <body>
      {% if albums | length > 1 %}
        <h1>Albums</h1>
      {% else %}
        <h1>{{albums[0].title}}</h1>
      {% endif %}

      {% for album in albums %}
        <article id="{{album.id}}">
          <p>
            {% if albums | length > 1 %}
              Title: {{album.title}} <br>
            {% endif %}
              Released: {{album.release_year}}
          </p>
        </article>
      {% endfor %}
    </div>
  </body>
</html>